<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<nav th:replace="fragments :: navigation"></nav>

    <body class="container-fluid">

        <div class="container">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10 text-center">
                    <h1 class="responsive-h1">Animals</h1>
                </div>
                <div class="col-sm-1"></div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="container col-sm-10">
                    <div class="row">
                        <th:block th:each="animal : ${animals}">
                            <div class="container-fluid animalRow col-sm-12" th:id="${animal.id}">
                                <div class="row">
                                    <div class="col-sm-1">
                                        <a class="danger" th:href="'/delete/' + ${animal.id}">DELETE</a>
                                    </div>
                                    <div class="col-sm-5">
                                        <h3 class="responsive-h3" th:text="${animal.id}"></h3>
                                    </div>
                                    <div class="col-sm-6">
                                        <h3 class="responsive-h3">
                                            <a th:href="'/animals/'+${animal.id}" th:text="${animal.commonName}">...</a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </div>
                <div class="col-sm-1"></div>
            </div>
        </div>

        <script th:inline="javascript">
        /*<![CDATA[*/

            var animalRow = document.getElementsByClassName("animalRow");
            var i;

            for(i = 0; i < animalRow.length; i++){
                if(animalRow[i].id % 2 == 1){
                    animalRow[i].style.backgroundColor = "#eaeaea";
                }else{
                    animalRow[i].style.backgroundColor = "#d8d8d8";
                };
            };

        /*]]>*/
        </script>

        <div th:replace="fragments :: footer_scripts"></div>

    </body>
</html>